@import '../../../../assets/styles/theme.scss';

.dashboard {
  position: relative;

  .top-container {
    width: calc(100% - 3rem);
    padding: 1.5rem 1.5rem 0 1.5rem;
    border: 1px solid $lighter-grey;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    background-color: white;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;

      .title {
        font-weight: 800;
      }

      .more {
        margin-left: auto;
        font-size: 0.9rem;
        font-weight: 700;
        color: $dark-grey;
        cursor: pointer;
      }
    }

    .items-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .item {
        padding: 1rem;
        border: 1px solid $lighter-grey;
        border-radius: 0.25rem;
        width: 15%;
        cursor: pointer;
        margin-bottom: 1.5rem;

        &:hover {
          .img-container {
            transform: scale(0.95);
          }
        }

        .item-infos {
          display: flex;
          align-items: flex-start;

          .item-rank {
            margin-right: 0.5rem;
            font-weight: 800;
          }

          .item-titles {
            .item-title {
              font-weight: 700;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
              margin-bottom: 0.25rem;
              overflow: hidden;
            }

            .item-subtitle {
              font-size: 0.9rem;
              color: $dark-grey;
              font-weight: 600;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }

        .img-container {
          display: flex;
          align-items: baseline;
          justify-content: center;
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          overflow: hidden;
          border-radius: 0.25rem;
          margin-bottom: 1rem;
          position: relative;
          transition: all 300ms ease-in-out;

          img {
            width: 100%;
            border-radius: 0.25rem;
          }

          .play-btn {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            background-color: $green-spotify;
            border-radius: 0.25rem;
            color: white;
            font-size: 1rem;
            margin-top: 1rem;
            cursor: pointer;

            i {
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
}

/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 600ms cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}
